body {
  padding: 50px;
}

blockquote.twitter-tweet {
	display: none;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 24px;
	margin: 0 0 15px 0;
	line-height: 40px;
	color: #FFF;
	font-weight: normal;
}

#twitter-logo {
	display: inline-block;
	height: 44px;
	width: auto;
	position: relative;
	top: -6px;
	margin: 0 10px 0 0;
}

.tweet-item {
	margin-bottom: 10px;
	width: auto;
}

.tweet-details {

	font-size: 11px;
	color: #999;
	width: auto;
  margin: 0 auto;
}

.tweet-details a {
	color: #999;
  margin: 0 auto;

}

#search-container {
	margin-bottom: 20px;
  margin: 0 auto;
	width: auto;
}

.user-search {
	margin-bottom: 20px;
	width: auto;
}

.load-tweets-btn {
	display: inline-block;
}

.twitter-logo {
	margin-top: 2px;
	width: auto;
	height: 32px;
	float: right;
}
